<script>
    var servicioInicio='Config'

    function inicializaDiv(){
        //var servicioInicio='Config'
        document.getElementById(servicioInicio).style.display = "block";
        document.getElementById('boton' + servicioInicio).className += " active";
        leeConfig(servicioInicio)
    }

    function leeConfig(servicio){
        var xhconfiguracion = new XMLHttpRequest();
        xhconfiguracion.onreadystatechange = function() {
            if (xhconfiguracion.readyState == 4) {
            if(xhconfiguracion.status == 200) {
                console.log("JSON: " + xhconfiguracion.responseText)
                // AQUI VA EL CODIGO QUE GESTIONA LA RESPUESTA
                //Relleno el textarea
                console.log(servicio)
                text=document.getElementById("text" + servicio)
                text.value=xhconfiguracion.responseText
                //Relleno los campos              
                rellenaCampos(servicio,xhconfiguracion.responseText)
            }
            }
        };
        xhconfiguracion.open("GET", "/ficheroConfiguracion/{{USUARIO}}/{{SID}}/" + servicio, true);
        xhconfiguracion.send(null); 
    }

    function rellenaCampos(servicio,res){
        var res = JSON.parse(res);
        console.log(res)

        switch (servicio){
            case 'Config':
                document.getElementById('nombreDispositivo').value=res.nombre_dispositivo;
                document.getElementById('nivelActivo').value=res.NivelActivo;
                document.getElementById('URLPlataforma').value=res.URLPlataforma;
                break;
        }
    }


    function toFileConfig(servicio){
        cajaTexto=document.getElementById('text' + servicio)

        switch(servicio){
            case 'Config':
                cad='{'
                cad+='"nombre_dispositivo"' + ':'
                cad+='"' + document.getElementById('nombreDispositivo').value + '",'
                cad+='"NivelActivo"' + ':'
                cad+=document.getElementById('nivelActivo').value + ','
                cad+='"URLPlataforma"' + ':'
                cad+='"' + document.getElementById('URLPlataforma').value + '"'
                cad+='}' 
                console.log(cad)
                j=JSON.parse(cad) 
                cajaTexto.value=JSON.stringify(j,null,'\t')
                break;      
        }
    }

    function toFormConfig(servicio){
        cajaTexto=document.getElementById('text' + servicio)
        j=JSON.parse(cajaTexto.value)

        switch (servicio){
            case 'Config':
                document.getElementById('nombreDispositivo').value=j.nombre_dispositivo;
                document.getElementById('nivelActivo').value=j.NivelActivo;
                document.getElementById('URLPlataforma').value=j.URLPlataforma
                break;
        }
    }

    function botonEnviarTodos(){
        botonEnviar('Config');
        botonEnviar('WiFiConfig');
        botonEnviar('MQTTConfig');
        botonEnviar('EntradasConfig');
        botonEnviar('SalidasConfig');
        botonEnviar('Variables');
        botonEnviar('SecuenciadorConfig');
        botonEnviar('MaqEstadosConfig');
    }

    function botonEnviar(servicio){
        var xhenviaMQTT = new XMLHttpRequest();
        xhenviaMQTT.onreadystatechange = function() {
            if (xhenviaMQTT.readyState == 4) {
            if(xhenviaMQTT.status == 200) {
                console.log("JSON: " + xhenviaMQTT.responseText)
                // AQUI VA EL CODIGO QUE GESTIONA LA RESPUESTA              
                console.log('enviada solicitud de descarga de configuracion')
                //
            }
            }
        };
        xhenviaMQTT.open("POST", "/descargaConfig/{{USUARIO}}/{{SID}}/" + servicio, true);
        xhenviaMQTT.send(null);
    }

    function enviaFichero(servicio,contenido){
        //verifico que es un JSON valido
        if (!isJsonString(contenido)) {
            alert('JSON no valido');
            return;
        }

        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4) {
            if(xmlhttp.status == 200) {
                // AQUI VA EL CODIGO QUE GESTIONA LA RESPUESTA
                console.log(servicio + ' enviado correctamente (' + xmlhttp.status + ')')              
            }
            salir()
            }
        };
        var URL = "/ficheroConfiguracion/{{USUARIO}}/{{SID}}/" + servicio;
        xmlhttp.open("POST", URL);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send(contenido);
    }

    function salir(){
        history.back()
    }
    
    function botonEdicion(servicio){
        if (document.getElementById('text' + servicio).disabled){
            document.getElementById('text' + servicio).disabled=false
            document.getElementById('botonEditar' + servicio).innerHTML='Salvar'          
        }
        else{
            //document.getElementById('text' + servicio).disabled=true
            //document.getElementById('botonEditar' + servicio).value='Editar'
            //myForm = document.getElementById('formConfig' + servicio)
            //myForm.setproperty('action',"/ficheroConfiguracion/{{USUARIO}}/{{SID}}/" + servicio)
            enviaFichero(servicio,document.getElementById('text' + servicio).value)
        }        
    }

    function botonSalvar(servicio){
        toFileConfig(servicio)

        //myForm = document.getElementById('formConfig' + servicio)
        enviaFichero(servicio,document.getElementById('text' + servicio).value)
        }        

    function abreTab(evt, tabName) {
        var i, tabcontent, tablinks;
        leeConfig(tabName)

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function isJsonString(str) {
        try {
            JSON.parse(str);
        } catch (e) {
            return false;
        }
        return true;
    }      
</script>

<p style="margin-top: 10px;margin-bottom: 10px;">Configuracion</p>
<div class="tab">
    <button id='botonConfig' class="tablinks" onclick="abreTab(event, 'Config')">Config</button>
    <button id='botonWiFiConfig' class="tablinks" onclick="abreTab(event, 'WiFiConfig')">WiFi</button>
    <button id='botonMQTTConfig' class="tablinks" onclick="abreTab(event, 'MQTTConfig')">MQTT</button>
    <button id='botonEntradasConfig' class="tablinks" onclick="abreTab(event, 'EntradasConfig')">Entradas</button>
    <button id='botonSalidasConfig' class="tablinks" onclick="abreTab(event, 'SalidasConfig')">Salidas</button>
    <button id='botonVariables' class="tablinks" onclick="abreTab(event, 'Variables')">Variables</button>
    <button id='botonSecuenciador' class="tablinks" onclick="abreTab(event, 'SecuenciadorConfig')">Secuenciador</button>
    <button id='botonMaq.Estados' class="tablinks" onclick="abreTab(event, 'MaqEstadosConfig')">Maq.estados</button>

    <button id='botonVolver' class="tablinks" style="float: right;margin-right: 6px;" onclick="history.back()">Volver</button>
    <button id='botonTodos' class="tablinks" style="float: right;margin-right: 6px;" onclick="botonEnviarTodos()">Enviar todos</button>
</div>

<div id="Config" class="tabcontent" style="display: none;">
    <p style="text-align: center;font-size: 28px; background-color: #777;border-color: #777;border-radius: 10px;border: 1px; border-style: solid;">Configuracion de Config</p>
    <div style="clear:both;">
    <spam style="float: left;border: 3rem;width:45%; border-color: #777;border-radius: 5px;border: 1px; border-style: solid;">
        <form id="configForm" action="">
            <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
                <spam>Formulario de configuracion</spam>
                <spam style="float: right;margin-right: 10px;"><button id="botonSalvarConfig" onclick="botonSalvar('Config')">Salvar</button></spam>
                <BR>
                <BR>
                <label for="nombreDispositivo">nombre del dispositivo:</label>
                <input id="nombreDispositivo" name="nombreDispositivo" type="text"><br>
                <label for="nivelActivo">nivel activo:</label>
                <input id="nivelActivo" name="nivelActivo" type="text"><br>
                <label for="URLPlataforma">URL plataforma:</label>
                <input id="URLPlataforma" name="URLPlataforma" type="text">        
                <BR>
                <BR>
                <spam style="float: left;margin-left: 10px;"><button id="botonEnviarConfig" onclick="botonEnviar('Config')">Enviar al dispositivo</button></spam>
                <br>
            </p>
        </form>
    </spam>
    <spam style="align-items: center;vertical-align: middle;">
        <button id="toFileConfig" onclick="toFileConfig('Config')">--></button>
        <button id="toFormConfig" onclick="toFormConfig('Config')"><--</button>
    </spam>
    <spam style="border-color: #777;border-radius: 5px;border: 1px; border-style: solid; float: right;width:45%;">
        <label for="textConfig" style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">fichero configuracion</label>
        <button style="margin-top: 10px; margin-bottom: 10px; float:right;" id="botonEditarConfig" onclick="botonEdicion('Config')">Editar</button>
        <br>
        <textarea id="textConfig" cols="50" rows="35" disabled></textarea>
        <br>
    </spam>
    </div>
    <!--<div style="clear:both;">
    <button id="botonEditarConfig" onclick="botonEdicion('Config')">Editar</button>
    <button id="botonEnviarConfig" onclick="botonEnviar('Config')">Enviar al dispositivo</button>
    </div>-->
</div>

<div id="WiFiConfig" class="tabcontent" style="display: none;">
    <br>
    <label for="textWiFiConfig">Configuracion de WiFi</label>
    <br>
    <textarea id="textWiFiConfig" cols="100" rows="35" disabled></textarea>
    <br>
    <button id="botonEditarWiFiConfig" onclick="botonEdicion('WiFiConfig')">Editar</button>
    <button id="botonEnviarWiFiConfig" onclick="botonEnviar('WiFiConfig')">Enviar al dispositivo</button>
    <!--<button id="botonSalirWiFiConfig" onclick="salir()">Volver</button>-->
</div>

<div id="MQTTConfig" class="tabcontent" style="display: none;">
    <br>
    <label for="textMQTTConfig">Configuracion de MQTT</label>
    <br>
    <textarea id="textMQTTConfig" cols="100" rows="35" disabled></textarea>
    <br>
    <button id="botonEditarMQTTConfig" onclick="botonEdicion('MQTTConfig')">Editar</button>
    <button id="botonEnviarMQTTConfig" onclick="botonEnviar('MQTTConfig')">Enviar al dispositivo</button>
    <!--<button id="botonSalirMQTTConfig">Volver</button>-->
</div>

<div id="EntradasConfig" class="tabcontent" style="display: none;">
    <br>
    <label for="textEntradasConfig">Configuracion de Entradas</label>
    <br>
    <textarea id="textEntradasConfig" cols="100" rows="35" disabled></textarea>
    <br>
    <button id="botonEditarEntradasConfig" onclick="botonEdicion('EntradasConfig')">Editar</button>
    <button id="botonEnviarEntradasConfig" onclick="botonEnviar('EntradasConfig')">Enviar al dispositivo</button>
    <!--<button id="botonSalirEntradasConfig">Volver</button>-->
</div>

<div id="SalidasConfig" class="tabcontent" style="display: none;">
    <br>
    <label for="textSalidasConfig">Configuracion de Salidas</label>
    <br>
    <textarea id="textSalidasConfig" cols="100" rows="35" disabled></textarea>
    <br>
    <button id="botonEditarSalidasConfig" onclick="botonEdicion('SalidasConfig')">Editar</button>
    <button id="botonEnviarSalidasConfig" onclick="botonEnviar('SalidasConfig')">Enviar al dispositivo</button>
    <!--<button id="botonSalirSalidasConfig">Volver</button>-->
</div>

<div id="Variables" class="tabcontent" style="display: none;">
    <br>
    <label for="textVariables">Configuracion de Variables</label>
    <br>
    <textarea id="textVariables" cols="100" rows="35" disabled></textarea>
    <br>
    <button id="botonEditarVariables" onclick="botonEdicion('Variables')">Editar</button>
    <button id="botonEnviarVariables" onclick="botonEnviar('Variables')">Enviar al dispositivo</button>
    <!--<button id="botonSalirVariables">Volver</button>-->
</div>

<div id="SecuenciadorConfig" class="tabcontent" style="display: none;">
    <br>
    <label for="textSecuenciadorConfig">Configuracion de Secuenciador</label>
    <br>
    <textarea id="textSecuenciadorConfig" cols="100" rows="35" disabled></textarea>
    <br>
    <button id="botonEditarSecuenciadorConfig" onclick="botonEdicion('SecuenciadorConfig')">Editar</button>
    <button id="botonEnviarSecuenciadorConfig" onclick="botonEnviar('SecuenciadorConfig')">Enviar al dispositivo</button>
    <!--<button id="botonSalirSecuenciadorConfig">Volver</button>-->
</div>

<div id="MaqEstadosConfig" class="tabcontent" style="display: none;">
    <br>
    <label for="textMaqEstadosConfig">Configuracion de Maq. esados</label>
    <br>
    <textarea id="textMaqEstadosConfig" cols="100" rows="35" disabled></textarea>
    <br>
    <button id="botonEditarMaqEstadosConfig" onclick="botonEdicion('MaqEstadosConfig')">Editar</button>
    <button id="botonEnviarMaqEstadosConfig" onclick="botonEnviar('MaqEstadosConfig')">Enviar al dispositivo</button>
    <!--<button id="botonSalirMaqEstadosConfig">Volver</button>-->
</div>