<script>
  function inicializaDiv(){}
</script>

<div class="izquierda">
    <TABLE id="tabla_datos" border="0" width="80%" cellpadding="0" cellspacing="0" width="300" class="tabla">
      <CAPTION>Datos del usuario</CAPTION>
      <tbody id="body_tabla_datos">
        <tr id="salida_0" class="modo2">
            <td align="right">Nombre</td>
            <td align="left">{{ NOMBRE }}</td>
          </tr>
          <tr id="salida_0" class="modo2">
            <td align="right">Apellidos</td>
            <td align="left">{{ APELLIDOS }}</td>
          </tr>
          <tr id="salida_0" class="modo2">
            <td align="right">Dirección</td>
            <td align="left">{{ DIRECCION }}</td>
          </tr>
          <tr id="salida_0" class="modo2">
            <td align="right">Correo</td>
            <td align="left">{{ CORREO }}</td>
          </tr>
          <tr id="salida_0" class="modo2">
            <td align="right">Teléfono</td>
            <td align="left">{{ TELEFONO }}</td>
          </tr>
          <tr id="salida_0" class="modo2">
            <td align="right">Usuario</td>
            <td align="left">{{ USUARIO }}</td>
          </tr>
      </tbody>     
  </TABLE>
  <BR><BR>
  <form id="volver" action="/main" target="_self">
    <input id="botonVuelve" type="hidden" name="dir" value="">
  </form>      
  <form id="resetPassword" action="/resetPassword/{{ USUARIO }}" method="get">
    <input id="botonResetPass" type="hidden" value="Reset password">
  </form>  
  <form id="cambia" action="/editaDatosUsuario/{{ USUARIO }}" method="get">
    <input id="botonEditaDatos" type="hidden" value="Edita datos">
  </form>
  <table>
    <tbody>
      <tr>
        <td align="right"><button form="cambia" style="float: right;" type="submit" value="">Edita datos</button></td>
        <td align="left" ><button form="resetPassword" style="float: right;" type="submit" value="">Reset password</button></td>
      </tr>
    </tbody>     
  </TABLE>    
  </div>