<script>
    function inicializaDiv(){}
    
    function datosDispositivo(id){
        console.log('pulso en seleccionar datos')
        myObj=document.getElementById('accion')
        myObj.setAttribute('value','datos')
        myObj=document.getElementById('formSeleccionarDispositivo')
        myObj.setAttribute('action', '/dispositivo/' + id)
        myObj.submit()
    }

    function configuracionDispositivo(id){
        console.log('pulso en seleccionar configuracion')
        myObj=document.getElementById('accion')
        myObj.setAttribute('value','configuracion')
        myObj=document.getElementById('formSeleccionarDispositivo')
        myObj.setAttribute('action', '/dispositivo/' + id)
        myObj.submit()
    }

    function reinicioDispositivo(id){
        console.log('pulso en seleccionar configuracion')
        myObj=document.getElementById('accion')
        myObj.setAttribute('value','reiniciar')
        myObj=document.getElementById('formSeleccionarDispositivo')
        myObj.setAttribute('action', '/dispositivo/' + id)
        myObj.submit()
      }

    function validarDispositivo(id){
        console.log('pulso en validar')
        var xhValidar = new XMLHttpRequest();
        xhValidar.open("POST","/dispositivo/" + id, false)
        xhValidar.send(null)
        location.reload()  
    }

    function borrarDispositivo(id){
        console.log('pulso en borrar')
        var xhBorrar = new XMLHttpRequest();
        xhBorrar.open("DELETE","/dispositivo/" + id, false)
        xhBorrar.send(null)
        location.reload()
    }

    function webDispositivo(id){
        console.log('pulso en web')
        myObj=document.getElementById('formWebDispositivo')
        myObj.setAttribute('action', "/webActuador/" + id)
        myObj.submit()
    }
</script>

<div style="display: flex;margin-top: 10px;align-items: center;width:100%;flex-wrap: wrap;flex-direction: column-reverse;">
    <form id="formBorrarDispositivo" action="" target="_self" method="delete">
        <input id="botonBorra" type="hidden" name="nombre" value="">
    </form>

    <form id="formValidarDispositivo" action="" target="_self" method="post">
        <input id="botonValida" type="hidden" name="nombre" value="">
    </form>

    <form id="formSeleccionarDispositivo" action="" target="_self" method="get">
        <input id="accion" type="hidden" name="accion" value="">
        <!--<input id="botonSelecciona" type="hidden" name="dir" value="">-->
    </form>
        
    <form id="formWebDispositivo" action="" target="_self" method="get">
        <!--<input id="accion" type="hidden" name="accion" value="">-->
        <!--<input id="botonSelecciona" type="hidden" name="dir" value="">-->
    </form>
        
    <TABLE id="tabla_dispositivos" border="0" margin="5px" style="border-left: 10px" width="90%" cellpadding="0" cellspacing="0" width="300" class="tabla">
      <CAPTION>Dispositivos del usuario</CAPTION>
      <tbody id="body_tabla_dispositivos">
        <tr id="tr_dispositivos" class="modo2">
        <th align="">Nombre del servicio</th>
        <th align="">ID dispositivo</th>
        <th align="">Version</th>
        <th align="">Validado</th>
        <th align="">Acciones</th>
        </tr>
        {% for dispositivo in DISPOSITIVOS %}
        <tr id="dispositivo_" class="modo2">
            <td id="dispositivo_nombre_" align="left">{{ dispositivo['SID'] }}</td>
            <td id="dispositivo_ID_" align="left">{{ dispositivo['DID'] }}</td>
            <td id="dispositivo_Version_" align="left">{{ dispositivo['version'] }}</td>
            <td id="dispositivo_validado_" align="left">{{ dispositivo['validado'] }}</td>
            <td id="dispositivo_acciones_" align="left">
                {% if dispositivo['validado']==0 %}
                <button form="formValidarDispositivo" onclick="validarDispositivo('{{ dispositivo['DID'] }}')">Validar</button>
                {% endif %}
                <button onclick="borrarDispositivo('{{ dispositivo['DID'] }}')">Borrar</button>
                <button onclick="datosDispositivo('{{ dispositivo['DID'] }}')">Datos</button>
                <button onclick="configuracionDispositivo('{{ dispositivo['DID'] }}')">Configuracion</button>
                <button onclick="reinicioDispositivo('{{ dispositivo['DID'] }}')">Reinicio</button>
                <button onclick="webDispositivo('{{ dispositivo['DID'] }}')">Web</button>
            </td>
        </tr>
        {% endfor%}
      </tbody>     
    </TABLE>
</div>
