<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <TITLE>Domoticae</TITLE>    
    <link rel="stylesheet" type="text/css" href="/static/css.css">
  </head>

  <body class="comun">
    <div class="izquierda">
      <TABLE id="tabla_dispositivos" border="0" width="80%" cellpadding="0" cellspacing="0" width="300" class="tabla">
        <CAPTION>Dispositivos del usuario</CAPTION>
        <tbody id="body_tabla_dispositivos">
          <tr id="salida_0" class="modo2">
              <td id="salida_id_0" align="right">Dispositivo 1</td>
              <td id="salida_id_0" align="left"><a href="">{{ NOMBRE }}</a></td>
            </tr>
            <tr id="salida_0" class="modo2">
              <td id="salida_id_0" align="right">Dispositivo 2</td>
              <td id="salida_id_0" align="left"><a href="">{{ APELLIDOS }}</a></td>
            </tr>
            <tr id="salida_0" class="modo2">
              <td id="salida_id_0" align="right">Dispositivo 3</td>
              <td id="salida_id_0" align="left"><a href="">{{ DIRECCION }}</a></td>
            </tr>
            <tr id="salida_0" class="modo2">
              <td id="salida_id_0" align="right">Dispositivo 4</td>
              <td id="salida_id_0" align="left"><a href="">{{ CORREO }}</a></td>
            </tr>
            <tr id="salida_0" class="modo2">
              <td id="salida_id_0" align="right">Dispositivo 5</td>
              <td id="salida_id_0" align="left"><a href="">{{ TELEFONO }}</a></td>
            </tr>
            <tr id="salida_0" class="modo2">
              <td id="salida_id_0" align="right">Dispositivo 6</td>
              <td id="salida_id_0" align="left"><a href="">{{ USUARIO }}</a></td>
            </tr>
        </tbody>     
    </TABLE>
    </div>
  </body>
</html>