<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<META http-equiv=refresh content=10>
		<TITLE>Domoticae</TITLE>
		<link rel="stylesheet" type="text/css" href="/static/css.css">
		<script>
			function inicializa(){
				
			}
		</script>
	</HEAD>
	<BODY onload="inicializa();">
		<div>
			<h1>estado del secuenciador: = ON/OF</h1>
		</div>
		<TABLE id="tabla_secuenciador" border="0" width="80%" cellpadding="0" cellspacing="0" width="300" class="tabla">
			<CAPTION>planes</CAPTION>
			<tbody id="body_tabla_secuenciador">
				<TR>
					<th width='10%'>id</th>
					<th width='40%'>Nombre</th>
					<th width='30%'>estado</th>
				</TR>
				<!--Una fila por cada entrada--> 
				{% for planes in REGISTROS %}
				<TR id="planes_{{planes.id}}" class="modo2">								
					<TD id="planes_id_{{planes.id}}" align="right">{{planes.id}}</TD>
					<TD id="planes_nombre_{{planes.id}}" align="right">{{planes.nombre}}</TD>
					<TD id="planes_estado_{{planes.id}}" align="center">{{ planes.estdo }}</TD>
				</TR>
				{% endfor %}
			</tbody>     
		</TABLE>
	</BODY>
</HTML>